:root{
    --azul: #2e8bc0;
    --azul-claro: #73c2fb;
    --azul-hover-card: #eaf7fd;
    --verde-whatsapp: #4caf50;
    --branco: #ffffff;
    --cinza: #f4f6f8;
    --preto: #2c3e20;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: var(--cinza);
}

.cabeca{
    background-color: var(--azul-claro);
    color: var(--branco);
    text-align: center;  
    padding: 20px;
}

nav ul{
    list-style: nome;
    margin-top: 10px;
}

nav li{
    display: inline;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover{
    opacity: 0.5;
}

.hero{
    background-imagem: url();
    padding: 200px 20px;
    background-size: cover;
    background-position: center;
    color: var(--branco);
    text-align: center;
}

.hero h2{
    font-size: 38px;
    margin-bottom: 15px;
}

.hero p{
    font-size: 20px;
}

.secao{
    background: var(--branco);
    margin: 30px auto;
    max-width: 900px;
    text-align: center;
    padding: 40px 20px;
    border-radius: 6px;

}


.secao h2{
    color: var(--azul);
    margin-bottom: 20px;
}

.secao p{
    line-height: 1.6;
}

.container-servicos{
    margin-top: 20px;
}

.servico{
    background: var(--cinza);
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.servico:hover{
    background: var(--azul-hover-card);
    transform: translateY(5px);
}

.servico h3{
    color: var(--azul);
    margin-bottom: 10px;
}

form{
    margin-top: 20px;
}

input, textarea{
    width: 100%;
    margin-top: 12px;
    padding: 12px;
    border-radius: 5px;
    border: solid;
    color: #cccccc;
    font-size: 16px;
}

textarea{
    resize: none;
}

.bnt-enviarForm{
    background: var(--azul);
    padding: 12px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.bnt-enviarForm:hover{
    background: var(--verde-whatsapp);
    transition: 0.3s;
}

footer{
    background: var(--azul);
    padding: 15px;
    text-align: center;
    color: var(--branco);
    margin-top: 30px;
}
