:root{
    --azul: #2e8bc0;
    --azul-claro: #73c2fb;
    --azul-hover-card: #eaf7fd;
    --verde-whatsapp: #4caf50;
    --branco: #ffffff;
    --cinza: #f4f6f8;
    --preto: #2c3e20;
}

*{
    margin: ;
    padding: ;
    box-sizing: ;
}

body{
    font-family: ;
    background: ;
}

.cabeca{
    background-color: 
    color: ;
    text-align: ;  
    padding: ;
}

nav ul{
    list-style: ;
    margin-top: ;
}

nav li{
    display: ;
    margin: ;
    font-weight: ;
}

nav a:hover{
    opacity: ;
}

.hero{
    background- imagem: url();
    padding: ;
    background-size: ;
    color: ;
    text-align: ;
}

.hero h2{
    font-size: ;
    margin-bottom: ;
}

.hero p{
    font-size: ;
}

.secao{
    color: ;
    margin-bottom: ;
}

.secao p{
    line-height: ;
}

.container-servicos{
    margin-top: ;
}

.servico{
    background: ;
    margin-top: ;
    padding: ;
    border-radius: ;
    transition: ;
}

.servico:hover{
    background: ;
    transform: ;
}

.servico h3{
    color: ;
    margin-bottom: ;
}

form{
    margin-top: ;
}

input, textarea{
    width: ;
    margin-top: ;
    padding: ;
    border-radius: ;
    border: ;
    color: ;
    font-size: ;
}

textarea{
    background: ;
    padding: ;
    border-radius: ;
    border: ;
    cursor: ;
}

.bnt-enviarForm{
    background: ;
    padding: ;
    border-radius: ;
    border: ;
    cursor: ;
}

.bnt-enviarForm:hover{
    background: ;
    transition: ;
}

footer{
    background: ;
    padding: ;
    text-align: ;
    color: ;
    margin-top: ;
}
